body {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.turn {
  text-align: center;
}

.playArea {
  display: flex;
}

.playerCard {
  align-self: center;
  margin: 2rem;
}

.playerCard h2 {
  text-align: center;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: yellow;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
  }

  .cell:hover {
    background-color: rgb(255, 255, 180);
  }

  .restart {
    height: 2rem;
    margin: 2rem;
    width: 10rem;
  }